body {
	
	background-color: #fff;
	color: #777;
}



/*general*/


}
h1, h2, h3 {

	color: #4aaaa5;
}

/*header*/

.vanbar-brand{
	background: #4aaaa5;
	color: #fff;
}
.panel-body {
	
	
	color: #fff;


}

/*footer*/

.nav {
	background: #666;
	color: #ffffff;
	
	
}









